body,
html {
  height: 100%;
}

.sections:hover {
  transform: scale(1.06);
}

body {
  background: url(../img/nightsky.avif) no-repeat fixed;
  background-size: cover;
}

.product-img {
  border-radius: 5px;
}

.card:hover {
  transform: scale(1.02);
}

.detail-btn {
  background-color: gold;
  color: white;
}

.detail-btn:hover {
  background-color: rgb(231, 196, 0);
  color: #fff;
}

.container {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-weight: bold;
  border: 3px solid #ffffff;
  /* position: absolute; */
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  width: 80%;
  padding: 20px;
  text-align: center;
}

.tablets {
  display: flex;
}

.product-img {
  max-width: 100%;
  height: 220px;
}

footer {
  background-color: #000000;
  color: #fff;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  justify-content: space-around;
}

.footer-section {
  flex: 1;
}

.footer-section h3 {
  margin-bottom: 10px;
}

.footer-section p {
  margin: 0;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.hide {
  display: none;
}

.fb:hover {
  color: blue;
}

.tw:hover {
  color: lightblue;
}

.insta:hover {
  color: pink;
}
